*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("image/Why\ you\ started..jpeg"); 
    height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.sub-btn{
    background-color: rgba(0 150 214);
    border-radius: 4px;
    width: 8vw;
    border: none;
 
}

.clear-btn{
    background-color: rgb(255, 87, 0);
    border: none;
    width: 3vw;
    border-radius: 4px;
}

.input-box{
    width: 20vw;
    margin: 8px 0;
    padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.todobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    width: 50vw;
    margin-top: 10vh;
background: rgba(255, 255, 255, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(255, 255, 255, 0.29);
}


@media screen and (max-width: 425px){

.todobox{
 width: 80vw;

}

    .input-box{
    width:40vw;

    }

    .sub-btn{
        font-size: 1.8vw;
        width: 10vw;
        height:5vh;
    }
    
}
